# Byte-compiled / cache
__pycache__/
*.py[cod]
*.egg-info/
.python-version

# Virtual environment
.venv/

# Test cache
.pytest_cache/

# Coverage reports
.coverage

# Output files
*.csv

# VSCode / IDE settings (optional, if used)
.vscode/
.idea/

# Lock files (optional if using poetry or pipenv)
uv.lock
